In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection, preprocessing
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.collections import LineCollection
from mpl_toolkits.mplot3d.art3d import Line3DCollection

#Just a CSV of Sports Illustrator Covers, describing which sports are on each cover
#https://data.world/crowdflower/sports-illustrated-covers/workspace/file?filename=SI-Cover-by-Sport-DFE.csv
fun = pd.read_csv('sports.csv', usecols=(1,2,3,4))

fun.head()

X = np.array(fun['Baseball']).reshape(-1,1)
y = np.array(fun['Grand Total'])

X_train, X_test, y_train, y_test = model_selection.train_test_split(
    X, y, test_size=0.2, random_state=9)

stdscaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = stdscaler.transform(X_train)
X_test_scaled  = stdscaler.transform(X_test)

fun.head()

C:\Users\Saena\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Saena\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Saena\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

   American football  Baseball  Basketball  Grand Total
0                  2         2         1.0           20
1                  7         9         NaN           52
2                  8        13         1.0           53
3                  4         9         3.0           52
4                  4        12         2.0           52